
.open-sans{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

*{background-color: #1A0B2E;}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 200px;
}

.logo {
    font-size: 2.5rem;
    font-weight: bold;
    color: aliceblue;
}
.Wave {
    background: linear-gradient(
        to bottom,
        rgba(145, 0, 248, 1),
        rgba(251, 9, 180, 1),
        rgba(247, 233, 63, 1)
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
    font-size: 16px;
    font-weight: 500;
}
.nav-link {
    text-decoration: none;
    color: white;
    transition: color 0.3s ease;
}
.btn {
    background: linear-gradient(
        45deg,
        rgba(247, 233, 63, 1),
        rgba(251, 9, 180, 1),
        rgba(145, 0, 248, 1)
    );
    border: none;
    border-radius: 25px;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s ease;
}
.hamburger {
    display: none;
    
}


@media screen and (max-width: 576px) {
    .navbar ul, .navbar .btn {
        display: none;
        
    }
    .navbar {
        margin: 0px;
        width: 440px;
        height: 60px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 16px 20px 16px 20px;
    }
    
    .hamburger {
        display: block;
        cursor: pointer;
    }
    
    
}