
.open-sans{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

*{background-color: #1A0B2E;}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 200px;
}

.logo {
    font-size: 2.5rem;
    font-weight: bold;
    color: aliceblue;
}
.Wave {
    background: linear-gradient(
        to bottom,
        rgba(145, 0, 248, 1),
        rgba(251, 9, 180, 1),
        rgba(247, 233, 63, 1)
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
    font-size: 16px;
    font-weight: 500;
}
.nav-link {
    text-decoration: none;
    color: white;
    transition: color 0.3s ease;
}
.btn {
    background: linear-gradient(
        45deg,
        rgba(247, 233, 63, 1),
        rgba(251, 9, 180, 1),
        rgba(145, 0, 248, 1)
    );
    border: none;
    border-radius: 25px;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}
.header-section {
    text-align: center;
    color: white;
    padding: 100px 20px;
    background-image: url(./B13-A02-TechWave/assets/hero-bg.png);
    display: block;
}
.header-image{
    background-image: url(./B13-A02-TechWave/assets/hero-circle.png);
    background-repeat: no-repeat;
    background-position: center;
    height: 334px;
    background-color: transparent;
    background-position: calc(50% + 25px);
    display: block;
    
}

.header-image img{
    margin-top: 70px;
    margin-left: 45px;
    background-color: transparent;
}
.header-content{
    background-color: transparent;
}
.header-content h1 {
    font-size: 60px;
    margin-bottom: 20px;
    font-weight: 800;
    gap: 10px;
    background-color: transparent;
}
.header-content p {
    font-size: 20px;
    margin-bottom: 30px;
    background-color: transparent;
}
.header-buttons{
    background-color: transparent;
}


.button{
    background-color: transparent;
    width: 147px;
    height: 44px;
    border-radius: 50px;
    border: 2px solid #00FF88;
    color: #00FF88;
    cursor: pointer;
   
}
.btn_2{
    border-radius: 50%;
    background-color: transparent;

}
.btn_3{
    background-color: transparent;
}
.hamburger {
    display: none;
    
}


@media screen and (max-width: 576px) {
    .navbar ul, .navbar .btn {
        display: none;
        
    }
    .navbar {
        margin: 0px;
        width: 100%;
        height: 60px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 16px 20px 16px 20px;
    }
    .hamburger {
        display: block;
        cursor: pointer;
    }
  .header-section{
    max-width: 574px;
    width: 100%;
    height: 500px;
    background-size: 110% auto;
    background-repeat: no-repeat;
    background-position: center;

  }
  .header-image{
      background-size: 60%;
      background-repeat: no-repeat;
      background-position: center;
      padding: 40px 40px 80px 120px;
  }
    .header-image img{
        margin-top: 0px;
        margin-left: 0px;
        width: 60px;
        padding-top: 130px;
        margin-right: 65px;
    }
}
    
