*{
    margin: 0px;
}
.open-sans{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

*{background-color: #1A0B2E;}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 200px;
}

.logo {
    font-size: 2.5rem;
    font-weight: bold;
    color: aliceblue;
    background-color: transparent;
}
.Wave {
    background: linear-gradient(
        to bottom,
        rgba(145, 0, 248, 1),
        rgba(251, 9, 180, 1),
        rgba(247, 233, 63, 1)
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
    font-size: 16px;
    font-weight: 500;
}
.nav-link {
    text-decoration: none;
    color: white;
    transition: color 0.3s ease;
}
.exclusive{
    background-color: transparent;
}
.btn {
    background: linear-gradient(
        45deg,
        rgba(247, 233, 63, 1),
        rgba(251, 9, 180, 1),
        rgba(145, 0, 248, 1)
    );
    border: none;
    border-radius: 25px;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}
.badge {
    background-color: #00FF88;
    color: rgb(8, 1, 1);
    font-size: 16px;
    font-weight: bold;
    padding: 10px 10px;
    border-radius: 12px;
    position: relative;
    top: -220px;
    left: 60px;
    cursor: pointer;
    transform: transform 0.3s, background-color 0.3s;

}
.badge:hover {
    transform: scale(1.2) rotate(-5deg);
    background-color: #9600cc;
    color: white;
    box-shadow: 2px 2px 10px rgba(159, 23, 23, 0.3);
}
.header-section {
    text-align: center;
    color: white;
    padding: 100px 20px;
    background-image: url(./B13-A02-TechWave/assets/hero-bg.png);
    display: block;
}
.header-image{
    background-image: url(./B13-A02-TechWave/assets/hero-circle.png);
    background-repeat: no-repeat;
    background-position: center;
    height: 334px;
    background-color: transparent;
    background-position: calc(50% + 5px);
    display: block;
    
}

.header-image img{
    margin-top: 70px;
    margin-left: 45px;
    background-color: transparent;
}
.header-content{
    background-color: transparent;
}
.header-content h1 {
    font-size: 60px;
    margin-bottom: 20px;
    font-weight: 800;
    gap: 10px;
    background-color: transparent;
}
.header-content p {
    font-size: 20px;
    margin-bottom: 30px;
    background-color: transparent;
}
.header-buttons{
    background-color: transparent;
}


.button{
    background-color: transparent;
    width: 147px;
    height: 44px;
    border-radius: 50px;
    border: 2px solid #00FF88;
    color: #00FF88;
    cursor: pointer;
   
}
.btn_2{
    border-radius: 50%;
    background-color: transparent;

}
.btn_3{
    background-color: transparent;
}
.hamburger {
    display: none;
    
}
.about-podcast{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 80px 200px;
    color: white;
}
.about-podcast h2{
    font-size: 36px;
    font-weight: 800;
    text-align: center;
    margin-bottom: 20px;
}
.about-podcast p{
    font-size: 20px;
    font-weight: 60;
    text-align: center;
}
.info-section{  
    display: grid;
    grid-template-columns: repeat(4, 2fr);
    justify-content: space-between;
    align-items: center;
    padding: 80px 200px;
    margin-left: 50px;
    margin-right: 50px;
    border-top: 1px solid #444444;
}
.info{
    grid-row: span 1;
    grid-column: span 1;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 5px;
}
.info h2{
    font-size: 24px;
    font-weight: 900;
    color: #00FF88;
}
.info p{
    font-size: 16px;
    font-weight: 500;
    color: white;
}
.h2{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 36px;
    font-weight: 800;
    color: white;
    padding-top: 40px;
}

.features-section>*{
    padding: 30px;
    border: 3px solid #230E3D;
    background-color: #351165;
    border-radius: 10px;
}
.audio{
    grid-area: audio;
}
.mobile{
    grid-area: mobile;
}
.global{
    grid-area: global;
}
.exclusive{
    grid-area: exclusive;
}
.resources{
    grid-area: resources;
}
.features-section{
    display: grid;
    grid-template-areas:
        "audio mobile mobile"
        "audio global global"
        "exclusive exclusive resources";
    gap: 20px;
    padding: 10px 200px;
    margin-left: 50px;
    margin-right: 50px;
}
.features-section h3{
    font-size: 24px;
    font-weight: 800;
    color: #fafdfc;
    background-color: transparent;
}
.features-section p{
    font-size: 16px;
    font-weight: 500;
    color: #d1d5db;
    background-color: transparent;
}
.features-section img{
    background-color: transparent;
}
.video-episodes{
    padding: 200px ;
   
}
.episodes-section>*{
    background-color: #351165;
    width: 380px;
    height: auto;
    border-radius: 10px;
    padding: 20px;
    border: 3px solid #230E3D;
    
}
.video-episodes h2{
    font-size: 36px;
    font-weight: 800;
    color: white;
    text-align: center;
    margin-bottom: 40px;
}
.episodes-section{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: auto;
    gap: 30px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    
}
.episode-card h3{
    font-size: 24px;
    font-weight: 500;
    color: #fafdfc;
    background-color: transparent;
}
.episode-card p{
    font-size: 16px;
    font-weight: 400;
    color: #d1d5db;
    background-color: transparent;
}

.episode-card img{
    border-radius: 50%;
    padding: 3px;
    background-color: transparent;
}
.episode-card h5{
    padding: 10px;
    font-size: 20px;
    font-weight: 400;
    color: #00FF88;
    background-color: transparent;
}
.host-section h1{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 36px;
    font-weight: 800;
    color: white;
    padding: 80px 200px;
    gap: 40px;
}
.host-info{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    margin: 0px 200px 100px 200px;
    border: 3px solid #330f5f;
    border-radius: 5px;
}

.host-info img{
    background-color: transparent;
    row-gap: 15px;
    border-radius: 10%;
    border: #444444;

}
.host-info h2{
    font-size: 24px;
    font-weight: 800;
    color: #fafdfc;
   background-color: transparent;
}
.host-info p{
    font-size: 16px;
    font-weight: 500;
    color: #d1d5db;
    background-color: transparent;
}
.footer{
    background-image: url(./B13-A02-TechWave/assets/footer-bg.png);
    background-repeat: no-repeat;
    background-position: center;
     height: 334px;
   background-color: transparent;
 
    background-position: calc(50% + 25px);
    display: block;
    
}
.footer-text{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
    gap: 15px;
    background-color: transparent;
}
.footer h1{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 36px;
    font-weight: 800;
    color: white;
    background-color: transparent;
    padding-top: 40px;
    
}
.footer p{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    padding-top: 10px;
    background-color: transparent;
}
.footer img{
    background-color: transparent;
   padding-left: 10px;
    padding-right: 10px;
}
   


@media screen and (max-width: 576px) {
    *{
        margin: 0px;
        padding: 0px;
        max-width: 100%;

    }
    
.badge {
    background-color: #00FF88;
    color: rgb(8, 1, 1);
    font-size: 16px;
    font-weight: bold;
    padding: 10px 10px;
    border-radius: 12px;
    position: relative;
    top: -100px;
    left: 1px;
    cursor: pointer;
    transform: transform 0.3s, background-color 0.3s;
}
    .bannerd{
        width: 100%;
    }
    .navbar ul, .navbar .btn {
        display: none;
        
    }
    .navbar {
        margin: 0px;
        width: 100%;
        height: 60px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 16px 20px 16px 20px;
    }
    .hamburger {
        display: block;
        cursor: pointer;
    }
  .header-section{
        max-width: 574px;
        width: 100%;
        height: 500px;
        background-size: 110% auto;
        background-repeat: no-repeat;
        background-position: center;

  }
  .header-image{
      background-size: 60%;
      background-repeat: no-repeat;
      background-position: center;
      padding: 40px 40px 80px 120px;
  }
    .header-image img{
        margin-top: 0px;
        margin-left: 0px;
        width: 60px;
        padding-top: 130px;
        margin-right: 65px;
    }
    .about-podcast {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 40px 20px;
        color: white;
    }
    .about-podcast h2   {
        font-size: 20px;
        font-weight: 500;
        margin-top: 50px;
        padding: 0px;
        text-align: center;
    }
    .about-podcast p{
        font-size: 10px;
        font-weight: 60;
        text-align: center;
    }
    .info-section{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-content: space-between;
        align-items: center;
        padding: 20px 20px;
        margin-left: 0px;
        margin-right: 0px;
        border-top: 1px solid #444444;
    }
    .about-section{
        padding: 40px 20px;
        margin: 20px;
        width: 574px;
        height: auto;
    }
    .features-section{
        display: grid;
        grid-template-areas:
        "audio"
        "mobile"
        "global"
        "exclusive"
        "resources";
        gap: 20px;
        margin: 0px;
        width: 100%;
        padding: 0px;
        align-items: center;
        justify-content: center;
    }
    .episodes-section{
        display: grid;
        justify-content: center;
        align-items: center;
        grid-template-columns: 1fr;
        width: auto;
        gap: 10px;
        margin: 0px;
        padding: 0px;

    }
    .video-episodes h2 {
        font-size: 30px;
        font-weight: 500;
        color: white;
        margin-bottom: 40px;
        align-items: start;
        justify-content: start;
        margin: 0px;
        padding: 0px;
    }
    .host-info{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
        text-align: center;
        gap: 20px;
        margin: 0px;
        padding: 0px;
        width: 100%;
    }
    .host-section h1{
        font-size: 24px;
        font-weight: 800;
        padding: 40px 20px;
        gap: 20px;
    }
    .host{
        padding: 25px 15px;
    }
    .tech{
        font-size: 13px;
    }
    .footer{
        width: 100%;
        height: auto;
        background-size: 60%;
        background-size: 40;
        background-size: cover;
        background-repeat: no-repeat;
    }
    .footer h1 {
    font-size: 24px;
    }
    .footer p {
        display: grid;
        grid-template-columns: repeat(4, auto);
        gap: 0px;
        justify-content: center;
        align-items: center;
        padding-bottom: 35px;
        color: white;
        background-color: transparent;
    }

}